
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: arial;
}
.class_allergener {
    color: #DAA520;
}

.class_BURGARE {
}
#id_BURGARE {
    border-radius: 25px;
    border: 5px solid #FFFFFF;
    background-color: #000000;
    color: white;
}

#id_kunduppgifter {
    border: 3px double #000000;
    border-radius: 10px;
    padding: 20px;
}
button:hover {
    cursor: pointer;
    color: #D2691E;
}
#header_image {
    opacity: 0.5 ;
}

#id_header {
    opacity: 1 ;
    color: #FFFFFF;
    position: absolute;
    top: 80px;
    right: 30;
    width: 1000px;
    height: 20 ;
    overflow: hidden
}

#id_info {
    opacity: 1 ;
    color: #FFFFFF;
    position: absolute;
    top: 160px;
    right: 30;
    width: 1000px;
    height: 20;
    overflow: hidden
}

#id_button {
   margin: 20px 5px 20px 5px;
}

.wrapper {
     display: grid;
     grid-gap: 30px;
     grid-template-columns: 360px 360px 360px;
     background-color: #fff;
     color: #444;
}

.box {
    background-color: #000000;
     color: white;
     border: 3px double #8FBC8F;
     border-radius: 10px;
     padding: 20px;
     font-size: 100%;
     font-family: arial;

 }
.box_burgare {
    background-color: #000000;
    color: white;
    border-radius: 25px;
    border: 3px double #556B2F;
    padding: 10px;
    font-size: 100%;
    font-family: arial;
}

.class_göteborg {
    grid-column: 1;
    grid-row: 1;
}
.class_kungsbacka {
    grid-column: 2;
    grid-row: 1;
}

.class_uppsala {
     grid-column: 3;
    grid-row: 1;
}
.class_extra {
    grid-column: 1/2;
    grid-row: 2;
}
#id_BURGARE > div {
    padding-left:30px  ;
}
#id_kunduppgifter > div {
  padding-top: 20px ;
  padding-left: 20px    ;
}